main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: flex-start;
  align-content:center;
}
h2 {
  background-color:rgb(55, 59, 62);
  color: white;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}


h3 {
  text-shadow: rgb(55, 59, 62);
  font-size:medium;
}
.resultadodatos {
  text-align: center;
}
.escudo{
  width: 50px;
}
.title_article {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.p_article{
  display:flex;
  justify-content: flex-end;
}
.btn {
  border-color: rgb(55, 59, 62);
  color:rgb(55, 59, 62);
}
h4 {
  text-align: center;
  border:none;
  
}
.resultadotext {
  text-align: center;
}
.casatext {
  text-align: end;
}
.titulo_casa{
  text-align: end;
}
/* background color text */

.body {
  background-color: rgb(55, 59, 62);
}
.bg-gr {
  background-color: rgb(255, 255, 255);
}
.section_2 {
  background-color:rgb(255, 255, 255);
  padding: 26px;
}

/* images */

.logo_liga {
  width: 50px;
}
/* .back_bol {
  background-image: url(/img/maxresdefault.jpg);
} */

/* Video section */
.section_2{
  width: 100%;
  

}
.container_video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height:0px;

}

.container_video iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom:0px;
  height: 100%;
  width: 100%;
  
}

tr {
  box-shadow: 50px 20px 60px 0px  rgba(0,0,0,0.3);
}



/* cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
} 
.card img {
  max-width: 100%;
}
.card .text {
  padding: 0 20px 20px;
}
.card .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }

.parent_input{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:baseline;
  margin-top: 25px;
  flex-wrap: wrap;
  margin-bottom: 25px;

}
.child_input{
  margin-left: 30px;
}

#tablebody2 {
  font-size: 1vw;
}


